<form [formGroup]="productForm" class="product-form" (ngSubmit)="onSubmit()">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage" (click)="errorMessage = null">
    {{ errorMessage }}
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h3 class="text-center mb-4">Add Stock</h3>

        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Product Name:</label>
          </div>
        
          <div class="col">
          <div class="custom-dropdown-container">
            <input type="text"
                   class="form-control"
                   placeholder="Start typing product name..."
                   formControlName="name"
                   (input)="onProductSearch()"
                   (focus)="openDropdown()"
                   (blur)="onInputBlur()"
                   autocomplete="off" />

            <ul class="suggestion-dropdown" *ngIf="showDropdown && products.length > 0">
              <li *ngFor="let p of products; let i = index" 
                  [class.active]="highlightedIndex === i"
                  (mousedown)="selectProduct(p)">
                {{ p.name }} 
                <!-- Showing packing label like search bar -->
                <span class="sub-label" *ngIf="p.packing"> | {{ p.packing }}</span>
              </li>
            </ul>

            <!-- No results state -->
            <ul class="suggestion-dropdown" *ngIf="showDropdown && products.length === 0 && productForm.get('name')?.value.length > 1">
              <li class="no-results">No product found</li>
            </ul>
            </div>
          </div>
        </div>

        <!-- BATCH NO -->
        <div class="row mb-3">
          <div class="col">
            <label for="batchNo" class="form-label">Batch No:</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="batchNo" formControlName="batchNo">
          </div>
        </div>

        <!-- EXPIRY -->
        <div class="row mb-3">
          <div class="col">
            <label for="expiryDate" class="form-label">Expiry Date:</label>
          </div>
          <div class="col">
            <input type="date" class="form-control" id="expiryDate" formControlName="expiryDate">
          </div>
        </div>

        <!-- QUANTITY -->
        <div class="row mb-3">
          <div class="col">
            <label for="quantity" class="form-label">Quantity:</label>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="quantity" formControlName="quantity" min="0">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" style="background-color: #48e3cc; color: #000;" class="btn btn-primary">Add</button>
        </div>

      </div>
    </div>
  </div>
</form>
