.message{
    text-align: center;
    margin-top: 150px;
}
p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    color: #888;
    margin-bottom: 20px;
  }
  
h4{
    text-align: center;
    padding: 2px; 
}
button{
    border: none;
    background-color: transparent;
}
.edit-button{
    margin-right: 10px;
}
.delete-button{
    margin-left: 10px;
}
