/* Header layout */
.header-container {
  width: 100%;
  margin-top: 6px;    
  margin-bottom: 6px;   
}

.header-title {
  text-align: center;
  font-weight: 500;
  margin: 0;             
}

/* Right-side search spacing */
.header-search {
  padding-right: 6px;
}

/* Utility */
.flex-1 {
  flex: 1;
}

/* Empty state message */
.message {
  text-align: center;
  margin-top: 150px;
}

.message p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.message h2 {
  font-size: 30px;
  color: #888;
  margin-bottom: 20px;
}

/* Buttons */
button {
  border: none;
  background-color: transparent;
}

.edit-button {
  margin-right: 10px;
}

.delete-button {
  margin-left: 10px;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.main-content {
    flex: 1 0 auto; 
} 

.page-link {
  cursor: pointer;
  color: #333;
  border: 1px solid #dee2e6;
  padding: 8px 16px;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  color: #ccc;
}

@media (max-width: 768px) {
    .table-striped {
    --bs-table-striped-bg: transparent !important;
    --bs-table-accent-bg: transparent !important;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 6px;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    flex-wrap: wrap;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #666;
    flex: 1 1 auto;
  }
  /* Hide expandable rows by default */
  .mobile-card .expandable {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  /* Show when expanded */
  .mobile-card.expanded .expandable {
    display: flex;
    opacity: 1;
    max-height: 100px;
  }
  .pagination-container {
    display: none !important;
  }
}
