<div class="search-wrapper" [class.expanded]="isExpanded">
  <form (submit)="onFormSubmit($event)" action="javascript:void(0);">
    <div class="search-container">
      <input 
        type="search" 
        name="search"
        enterkeyhint="search"
        class="search-input" 
        [(ngModel)]="searchText" 
        (input)="onInput()" 
        (focus)="onFocus()"
        placeholder="Search..."
        autocomplete="off"
        [class.has-text]="searchText.length > 0">

      <div class="search-loader" *ngIf="isLoading && isExpanded">
        <div class="spinner-micro"></div>
      </div>
      <button class="search-btn" (click)="toggleSearch()" type="button">
        <fa-icon [icon]="faSearch" *ngIf="!isLoading || !isExpanded"></fa-icon>
      </button>

      <button 
        class="clear-btn" 
        *ngIf="searchText.length > 0 && isExpanded" 
        (click)="clearSearch()"
        type="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </form>

  <div class="dropdown-container" *ngIf="isExpanded">
    <ul class="suggestion-dropdown" *ngIf="suggestions.length > 0">
      <li 
        *ngFor="let item of suggestions; let i = index" 
        class="suggestion-item"
        [class.highlighted]="highlightedIndex === i"
        (click)="selectItem(item)"
        (mouseenter)="highlightedIndex = i">
        <div class="item-main">
          <fa-icon [icon]="faBox" class="item-icon"></fa-icon>
          <span class="item-label">{{ resolveField(item, labelKey) }}</span>
        </div>
        <span class="item-sub" *ngIf="subLabelKey">
          {{ resolveField(item, subLabelKey) }}
        </span>
      </li>
    </ul>

    <ul class="suggestion-dropdown" *ngIf="searchText.length > 1 && suggestions.length === 0">
      <li class="no-results">
        <fa-icon [icon]="faSearchMinus"></fa-icon>
        <span>No {{ notFoundText }} found</span>
      </li>
    </ul>

    <div class="search-hint" *ngIf="searchText.length === 0">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <span>Start typing to search {{ notFoundText }}...</span>
    </div>
  </div>
</div>