/* Styling for the form container */
.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 600px;
}
  
 
.step-indicator {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
      
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
.buttons{
    display: flex;
    justify-content: space-between;
} 

.next-button {
    background-color: #48e3cc;
    border: #000 1px solid;
    color: #000;
    margin:10px;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
.next-button:hover {
    background-color: #34a796;
    color: #fff;
    border: #fff 1px solid;
}

.delete-button{
    border: none;
    background-color: transparent;
    margin-left: 15px;
}
 
  