.error-container {
    text-align: center;
    margin-top: 150px;
  }
  
  h1 {
    font-size: 100px;
    color: #555;
    margin-bottom: 25px;
  }
  
  h2 {
    font-size: 30px;
    color: #888;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  